fieldset {
    width:400px;
    border:0;
}

legend {
    display:block;
    border-top: 2px solid gray;
    width: 100%;
    padding: 5px;
    font-family: Optima,Helvetica,sans-serif;
    font-weight: bold;
    font-size: .8em;
}


fieldset div {
    margin: 0 auto;
}

div.column {
    margin-left:10px;
    float:left;
}

div.gauge {
    width:300px;
}

.bullet svg {
    height:80px;
}
#chart {
    width:400px;
    clear:left;
}

div.donut svg, div.barChart svg {
    height:400px;
}