@(title: String, data: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script type="application/javascript" src="https://www.google.com/jsapi"></script>
        <script type="application/javascript">
            var dashboard = @Html(data);

            // Load the Visualization API and the piechart package
            google.load('visualization', '1.0', {'packages':['table', 'corechart']});

            // Set a callback to run when the Google Visualization API is loaded.
            google.setOnLoadCallback(drawCharts);

            function drawCharts() {
                var data = new google.visualization.DataTable();

                var columnLabels = [];
                for (var agg in dashboard.componentData[0].reportResult.reportExtendedMetadata.aggregateColumnInfo) {
                    if (dashboard.componentData[0].reportResult.reportExtendedMetadata.aggregateColumnInfo.hasOwnProperty(agg)) {
                        var index = agg.replace(/FORMULA/,'');
                        columnLabels[index] = dashboard.componentData[0].reportResult.reportExtendedMetadata.aggregateColumnInfo[agg].label;
                    }
                }



                var groupings = [];
                for (var i = 0; i < dashboard.componentData[0].reportResult.groupingsDown.groupings.length; i++) {
                    groupings.push(dashboard.componentData[0].reportResult.groupingsDown.groupings[i].label);
                }

                data.addColumn('string', dashboard.componentData[0].reportResult.reportExtendedMetadata.groupingColumnInfo["Opportunity.Gift_Committed_Date__c"].label);
                data.addColumn('number', columnLabels[1]);
                data.addColumn('number', columnLabels[0]);

                var factMap = dashboard.componentData[0].reportResult.factMap;
//                var count = 0;
//                for (var element in factMap) {
//                    if (factMap.hasOwnProperty(element) && !element.contains('_')) {
//                            data.addRows([[groupings[count++], factMap[element].aggregates[1].value, factMap[element].aggregates[0].value]]);
//                    }
//                }


                for (var i = 0; i < groupings.length; i++) {
                    data.addRows([[ groupings[i],
                                    factMap[i + "!T"].aggregates[2].value / 1000000,
                                    factMap[i + "!T"].aggregates[0].value / 1000000]]);
                }

                data.addRows([['', factMap["T!T"].aggregates[2].value / 1000000, factMap["T!T"].aggregates[0].value / 1000000]]);

                var currency_formatter = new google.visualization.NumberFormat(
                    {prefix: '$', suffix: 'M', pattern: '#,###.#'}
                );
                currency_formatter.format(data,1);
                currency_formatter.format(data,2);

                var options = {'title':dashboard.dashboardMetadata.attributes.dashboardName,
                    showRowNumber: false
                };

                var chart = new google.visualization.Table(document.getElementById('chart'));
                chart.draw(data, options);

                console.log(dashboard);
                document.getElementById('datadisplay' ).innerHTML = JSON.stringify(dashboard.componentData, null, '  ');
            }

        </script>
    </head>
    <body>
        <div id="chart"></div>
        <div id="testArea"></div>
        <pre id="datadisplay"></pre>
    </body>
</html>
