@(id: String, data: String, fullList: String)

<!DOCTYPE html>

<html>
    <head>
        <title>@id</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" media="all" href="@routes.Assets.at("stylesheets/charts.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/nv.d3.css")">
        <script type="application/javascript" src="@routes.Assets.at("javascripts/d3.js")"></script>
        <script type="application/javascript" src="@routes.Assets.at("javascripts/nv.d3.js")"></script>
        <script type="application/javascript" src="@routes.Assets.at("javascripts/chart_helpers.js")"></script>
        <script type="application/javascript" src="@routes.Assets.at("javascripts/google_chart_drawing.js")"></script>
        <script type="application/javascript" src="@routes.Assets.at("javascripts/nvd3_chart_drawing.js")"></script>
        <script type="application/javascript" src="https://www.google.com/jsapi"></script>
        <script type="application/javascript">
            var fullDBList = @Html(fullList);
            var dashboard = @Html(data);
            console.log(fullDBList);
            console.log(dashboard);

            // Load the Visualization API and the required packages
            google.load('visualization', '1.0', {'packages':['table']});

            // Set a callback to run when the Google Visualization API is loaded.
            google.setOnLoadCallback(drawCharts);

            function drawCharts() {
                // tables
                drawTable('01aJ0000000LTAJIA4', 'Opportunity.Gift_Committed_Date__c', 1, dashboard);
                drawTable('01aG0000001j7IfIAI', 'FK_cv__Designation__c.Fund_Category_for_THE_Campaign__c', 1, dashboard);
                drawTable('01aG0000001j7IeIAI', 'CLOSE_DATE', 2, dashboard);

                // bullet charts
                drawBullet(dashboard,'01aG0000001j7IcIAI',1);
                drawBullet(dashboard,'01aG0000001j7IdIAI',2);
                drawBullet(dashboard,'01aG0000001j7IsIAI',3);
                drawBullet(dashboard,'01aG0000001j7dPIAQ',3);
            }
        </script>
    </head>
    <body>
        <div class="column" id="col1">
        </div>
        <div class="column" id="col2">
        </div>
        <div class="column" id="col3">
        </div>
    </body>
</html>
