@(title: String, data: String, fullList: String)

<!DOCTYPE html>

<html>
  <head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link rel="stylesheet" media="all" href="@routes.Assets.at("stylesheets/charts.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/nv.d3.css")">
    <script type="application/javascript" src="@routes.Assets.at("javascripts/d3.min.js")"></script>
    <script type="application/javascript" src="@routes.Assets.at("javascripts/nv.d3.min.js")"></script>
    <script type="application/javascript" src="@routes.Assets.at("javascripts/chart_helpers.js")"></script>
    <script type="application/javascript" src="@routes.Assets.at("javascripts/google_chart_drawing.js")"></script>
    <script type="application/javascript" src="@routes.Assets.at("javascripts/nvd3_chart_drawing.js")"></script>
    <script src="@routes.Assets.at("javascripts/marmottajax.min.js")"></script>
    <script type="application/javascript" src="https://www.google.com/jsapi"></script>
    <script>
      @*var fullDBList = @Html(fullList);*@
      var dashboard = @Html(data);
      console.log(dashboard);

      // Load the Visualization API and the required packages
      google.load('visualization', '1.0', {'packages':['table']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawCharts);

      function drawCharts() {
        document.getElementById('dashboard_description').innerHTML = dashboard.dashboardMetadata.description;

        for (var i = 0; i < dashboard.componentData.length; i++) {
          switch(getChartType(dashboard, i)) {
            case "Gauge":
              drawBullet(dashboard, getReportByIndex(dashboard,i).componentId, getChartColumn(dashboard,i));
              break;
            case "Table":
              drawTable(getReportByIndex(dashboard,i).componentId, getGroupingName(getReportByIndex(dashboard,i)).name, getChartColumn(dashboard,i), dashboard);
              break;
            case "Donut":
              drawDonut(dashboard,getReportByIndex(dashboard,i).componentId, getChartColumn(dashboard,i));
              break;
            case "Column":
              drawColumn(dashboard, getReportByIndex(dashboard,i).componentId, getChartColumn(dashboard,i));
              break;
          }
        }
      }

      function refreshDashboard() {
        // make ajax call to /refresh
        var link = document.getElementById("dashboard_controls");
        link.innerHTML = 'Refreshing Dashboard. Please wait.';
        marmottajax({
          url:"/refresh",
          json:true
        }).then(function(result) {
          // set interval to poll for changes in the dashboard until all reports are refreshed
          window.intervalId = setInterval(function() {
            marmottajax({
              url:"/status",
              json:true
            }).then(function(result) {
              var idleCount = 0;
              for (var i = 0; i < result.componentStatus.length; i++) {
                if (result.componentStatus[i].refreshStatus == "IDLE") {
                  idleCount++;
                }
              }
              link.innerHTML = 'Refreshing dashboard. ' + idleCount + ' of ' + result.componentStatus.length + ' reports updated.';
              if (idleCount == result.componentStatus.length) {
                clearInterval(window.intervalId);
                link.innerHTML += ' Reloading page.';
                location.reload(true);
              }
            }).error(function() {
              link.innerHTML = "Something has gone wrong... Please try again later.";
            });
          },2000);
        });
      }
    </script>
  </head>
  <body>
    <div id="dashboard_controls"><a href="javascript:void(0);" onclick="refreshDashboard()">Refresh dashboard</a></div>
    <div id="dashboard_description"></div>
    <div class="column" id="col0">
    </div>
    <div class="column" id="col1">
    </div>
    <div class="column" id="col2">
    </div>
  </body>
</html>
